.loginPg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
}

.loginText {
  text-align: center;
  color: #444444;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 700;
}
