h1 {
  margin-left: 6%;
}

.inputBox {
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 9px 9px;
  height: 40px;
  width: 80%;
  font-size: 14px;
  font-weight: 700;
  font-family: "Microsoft soft";
  margin-bottom: 20px;
}

.inputBox:focus {
  border-color: #2f4f4f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(47, 79, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(47, 79, 79, 0.6);
}
