<html>

<head>
    <title>Flask Intro - INFORMATION page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="container">
        <h1>{{title}}</h1>
        <br>

        <form action="" method="post">
            <table border="1">
                <tbody>
                    <input type="text" placeholder="UserName" name="Name" value="{{ Name }}">
                    <br>
                    <input type="text" placeholder="Gender" name="gender" value="{{ gender }}">
                    <br>
                    <input type="text" placeholder="Height" name="height" value="{{ height }}">
                    <br>
                    <input type="text" placeholder="Weight" name="weight" value="{{ weight }}">
                    <br>
                    <input type="text" placeholder="Age" name="age" value="{{ age }}">
                    <br>
                    <input type="text" placeholder="FatRate" name="fatRate" value="{{ fatRate }}">
                    <br>
                    <input type="text" placeholder="BMR" name="BMR" value="{{ BMR }}">
                    <br>
                    <input class="btn btn-default" type="submit" name="Submit" value="Submit">
                </tbody>
            </table>
        </form>
    </div>
</body>

</html>