.btnWide {
  color: #c6c6c6;
  background: darkslategray;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15pt;
  outline: none;
  width: 100%;
  height: 50px;
}
