<html>
  <head>
    <title>Flask Intro - Search food page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Food Searching</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Foodname" name="foodname" value="{{ request.form.foodname }}">
          <br>
        <input class="btn btn-default" type="submit" value="Search" name="Search">
      </form>
    </div>
  </body>
</html>