<html>

<head>
    <title>Flask Intro - INFORMATION page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="container">
        <h1>INFORMATION</h1>
        <br>

        <table border="1">
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for i in row %}
                    <td>{{i}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

</html>